.root {
    -fx-font-family: "Segoe UI";
     -fx-background-image: url("src/main/resources/pump.jpg");
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center center;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
}
